/*----------------------
GENERAL
 ---------------------*/

a {
    text-decoration: none;
    color: #08C;
    transition: all 0.3s ease-out;
    position: relative;

}

a:focus {
    outline: none;
    text-decoration: none;
}
 
a:hover { color: #0AF; text-decoration: none; }

body {
    background: #f6f8f9;
    overflow-x: hidden;
    color: #56565a;
    font-size: 14px;
    font-family: 'Lato';
    line-height: 25px;
    font-weight: 300;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Lato';    
}

h1 {
    font-size: 44px;
    letter-spacing: 100;
    line-height: 47px;
}

nav {
    float: right;    
    width: 723px;
}

nav ul {
    padding-left: 0;
}

nav ul li {
    display: inline-block;
    float: right;
}

nav ul li a {
    color: #555559;
    font-size: 11px;
    max-height:  54px;
    padding-top: 41px;
    margin-top: 2px;
    border-top: 3px solid #f6f8f9;    
    display: inline-block;
}

nav ul li a:hover {
    border-top: 3px solid #555559;
    max-height:  54px;
    color: #555559;    

}

/*----------------------
CLASSES
 ---------------------*/

 .analista-texto {
    margin: 63px 0 0 0;
    margin-right: 32px;
    width: 371px;
    float: right;
   
 }

 .analista-texto > p {
    font-size: 14px;
    letter-spacing: 0.1em;
 }

.analista-texto > p span {
    font-size: 18px;
    color: #0093c9;
    font-weight: 400;
    letter-spacing: 0.1em;    
    text-transform: uppercase;
}

.analitico {
    width: 98%;
    background: #0094ca;
    border-radius: 20px;    
    -moz-animation: analitico 2s ease-out;
    -webkit-animation: analitico 2s ease-out;    
}

.arrow-down {
    text-align: center;
    display: block;
}

.asertivo {
    width: 97%;
    background: #24b1d8;
    border-radius: 20px;
    -moz-animation: asertivo 2s ease-out;
    -webkit-animation: asertivo 2s ease-out;    
}

.big {
    font-size: 20px;
}

.bloque-blanco-1,
.bloque-blanco-2 {
    background: url(img/cubo.png) center top no-repeat;
    width: 597px;
    height: 643px;
}

.bloque-blanco-1 {
    position: relative;
    right: -50px;
    top: -90px;
    text-align: center;
    z-index: 11;
    float: right;
}

.bloque-blanco-1 h2 {
    font-size: 45px;
    color: #0093c9;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0;
}

.bloque-blanco-1 h2 span {
    font-weight: 400;
}

.bloque-blanco-1 > p {
    font-size: 18px;
    margin: 18px 0 14px;
    letter-spacing: 0.06em;
}

.bloque-blanco-2 {
    position: relative;
    top: 465px;
    left: 315px;
    text-align: center;
    z-index: 10;
}

.bloque-blanco-2 figure {
    position: absolute;
    top: 104px;
    left: 74px;
}

.bloque-blanco-2 > p {
    position: absolute;
    top: 84px;
    left: 140px;
    letter-spacing: 0.1em;
    font-size: 18px;    
}

.bloque-blanco-2 > p span {
    text-transform: uppercase;
    font-weight: 400;
}

.carousel {
    min-width: 1024px;
    max-width: 1200px;
    margin: 0 auto;
}

.carousel-control {
    width: 0;
}

.carousel-control.left,
.carousel-control.right {
    background: none;
}

.carousel-control.left {
    margin-left: 1%;
}

.carousel-control.right {
    margin-right: 1%;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
 
.clearfix:after {
    clear: both;
}
 
/* IE6/7 support */
.clearfix {
    *zoom: 1;
}

.confiable {
    width: 99%;
    background: #0094ca;
    border-radius: 20px;    
    -moz-animation: confiable 2s ease-out;
    -webkit-animation: confiable 2s ease-out;    
}

.conoceme {
    padding-top: 130px !important;
    display: none;  /*Quitar cuando se quiera mostrar esta parte*/
}

.conoceme h2 {
    margin-bottom: 74px;
}

.conoceme-pic {    
    height: 400px;
    position: relative;
    margin: 0 auto;
    clear: both;
    max-width: 1402px;
    display: none;    /*Quitar cuando se quiera mostrar esta parte*/
}

#cubos {
    position: absolute;
    left: 0;
    bottom: -200px;
    z-index: 100;
}

#badir-conoceme {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -500px;
    z-index: 5;
}

.content-wrapper {
	max-width: 1200px;
    min-width: 1024px;
	padding: 0 1em;
	margin: 0 auto;
    position: relative;
}

.creativo {
    width: 94%;
    background: #07a5d2;
    border-radius: 20px;    
    -moz-animation: creativo 2s ease-out;
    -webkit-animation: creativo 2s ease-out;    
}

.cross {
    text-decoration: line-through;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
}

.exigente {
    width: 98%;
    background: #07a5d2;
    border-radius: 20px;    
    -moz-animation: exigente 2s ease-out;
    -webkit-animation: exigente 2s ease-out;    
}

.expand {
    height: 29px;
    position: absolute;
}

.hide {
    display: none;
}

.hola-text {
    width: 584px;
    z-index: 9;
    position: absolute;
    right: 0;
    top: 174px;
}

.hola-text h2,
.conoceme h2 {
    color: #0093c9;
    font-size: 55px;
    letter-spacing: 0.05em;
    font-weight: 300;
}

.hola-text h3 {
    font-size: 34px;
    font-weight: 300;    
    color: #56565a;
    letter-spacing: 0.1em    
}

.hola-text p {
    letter-spacing: 0.025em;
}

.infografia {
    margin-top: 126px;
    position: relative;
    height: 1497px;
}

.infografia > .content-wrapper {
    height: 1046px;
}

.infografia-texto {
    background: #555559;
    padding: 100px 20px 0;
    text-align: center;
    height: 452px;
}

.infografia-texto h2 {
    color: #fff;
    font-size: 47px;
    font-weight: 300;
    letter-spacing: 0.09em;
    text-transform: uppercase;
}

.infografia-texto h2 span {
    font-weight: 400;
}


.infografia-texto p {
    color: #fff;
    line-height: 25px;
    letter-spacing: 0.025em;
    width: 1209px;
    margin: 64px auto;
    text-align: left;
}

.infografia-2 {
    background: #0094ca;
    height: 100px;
}

.intro {
    height: 765px;
}

.left {
    float: left;
}

.logo {
    display: inline-block;
    padding-top: 34px;    
}

.logo-2,
.logo-3 {
    display: none;
    position: absolute;
    left: 75px;
    top: 36px;
}

.main-big {
    font-size: 29px;
    font-weight: bold;
}

.main-statement {
    width: 379px;
    color: #555559;
    text-align: center;
    line-height: 48px;
    font-weight: 300;
    letter-spacing: .1em;
    margin: 250px auto 67px;
    display: block;
    text-transform: uppercase;
    font-size: 25px;
}

.more-link {
    float: right;
    font-weight: bold;
    font-style: italic;
    display: block;
    text-transform: uppercase;
    color: #0093c9;
    padding-right: 35px;
    margin-top: 135px;
    background: url(img/right-arrow.png) right center no-repeat;
}

.nav-bar {
    background: #f6f8f9;
    padding-bottom: 30px;  
    position: fixed;  
    width: 100%;
    z-index: 1000;
}

.perfeccionista {
    width: 93%;
    background: #2fb4db;
    border-radius: 20px;    
    -moz-animation: perfeccionista 2s ease-out;
    -webkit-animation: perfeccionista 2s ease-out;    
}

.quote {
    position: absolute;
}

.right {
    float: right;
}

.servicios {
    position: relative;
    height: 704px;    
    background: #F6F8F9;
    overflow: hidden;
}
 
.show {
    display: block;
}

.skills {
    width: 483px;
    margin-right: 5%;
    list-style: none;    
    position: relative;
    padding: 0;
}

.skills li {
    margin-bottom: 35px;
    height: 29px;
    border-radius: 20px;
    position: relative;
    background: #d3d3d3;
}

.skills li em {
    position: relative;
    color: #fff;
    z-index: 1;
    left: 23px;
    top: 2px;
    font-style: normal;
    font-size: 23px;
    letter-spacing: 0.125em
}

.skill-text {
    width: 570px;
    margin-top: 80px;
}

.skill-text p {
    margin: 0 0 21px;
}

.small-text {
    font-size: 7px;
    vertical-align: super;
}

.sticker {
    border-radius: 10px;
    border: 2px solid #555559;
    background: #fff;
    padding: 18px 4px 12px 15px;
    width: 382px;
    position: absolute;
    bottom: 105px;
    left: 100px;
    text-align: left;
}

.sticker-text {
    padding-left: 34px;
    letter-spacing: 0.1em;
    background: url(img/equis.png) left center no-repeat;
    line-height: 28px;
}

.sticker-text > span,
.sticker-text-2 > span {
    font-size: 18px;
    font-weight: 400;
}

.sticker-text-2 {
    padding-left: 34px;
    letter-spacing: 0.1em;
    background: url(img/char-small.png) left center no-repeat;
    line-height: 28px;    
}

.testimonials {
    background: #555559;
    clear: both;
    overflow: hidden;
}

.triangle {
    position: relative;
    bottom: -91px;
}

.visual {
    width: 99%;
    background: #24b1d8;
    border-radius: 20px;    
    -moz-animation: perfeccionista 2s ease-out;
    -webkit-animation: perfeccionista 2s ease-out;    
}


/*----------------------
 ID's
 ---------------------*/

#analista {
    position: absolute;
    left: 0;
    top: 120px;
}

#analista-2 {
    margin: 36px 26px 0 61px;
    float: left;
}

#arrow-1 {
    float: left;
    margin: 19px 13px 0 88px;
}

#arrow-2 {
    float: right;
    margin: 14px 71px 0 5px;
}

#badir-pic {
    position: absolute;
    bottom: 0;
    left: -100px;
}

#ceo {
    left: 215px;
    top: 161px;
    position: absolute;
}

#cross {
    top: 69px;
    left: 70px;
}

#cross-2 {
    top: 106px;
    left: 72px;    
}

#cross-3 {
    top: 147px;
    left: 76px;    
}

#cross-4 {
    top: 62px;
    left: 160px;    
}

#cross-5 {
    top: 99px;
    left: 166px;    
}

#cross,
#cross-2,
#cross-3,
#cross-4,
#cross-5,
.graphic-line-1,
.graphic-line-2,
.graphic-line-3,
.graphic-bar,
.graphic-chart {
    position: absolute;
}

#graphic-bar {
    position: absolute;
    bottom: 0;
    left: 71px;
    z-index: 1;
}

#graphic-chart {
    position: absolute;
    right: 0;
    bottom: 211px;
}

#graphic-line-1 {
    position: absolute;
    left: 0;
    bottom: 486px;
}

#graphic-line-2 {
    position: absolute;
    left: 157px;
    bottom: 186px;
    z-index: 2;
}

#graphic-line-3 {
    position: absolute;
    right: 0;
    bottom: 151px;
}

#exclamacion {
    position: absolute;
    top: 146px;
    left: 62px;
}

#line-2 {
    position: absolute;
    left: 69px;
    bottom: 14px;
}

#lines {
    position: absolute;
    left: 286px;
    top: 138px;
    z-index: 30;
}

#mensajes {
    position: absolute;
    left: 266px;
    top: 56px;
}

#nav-inicio {
    margin-right: 28.5px;
    text-align: left;
    width: 73px;
    letter-spacing: .3em;    
}

#nav-servicios {
    text-align: center;
    width: 175.5px;
    margin-right: 28.5px;
    letter-spacing: .3em;
}

#nav-clientes {
    text-align: center;
    width: 73px;
    margin-right: 28.5px;
    letter-spacing: .3em;
}

#nav-contacto {
    text-align: center;
    width: 174.5px;
    margin-right: 28.5px;
    letter-spacing: .3em;
}

#nav-extras {
    text-align: center;
    width: 73px;
    letter-spacing: .3em;
}

#notebook {
    display: inline-block;
    margin: -102px 101px 0 137px;   
    position: relative;
}

#question {
    margin-top: 31px;
}

#ventas {
    left: 406px;
    position: absolute;
    top: 122px;
    z-index: 40;
}

/*----------------------
RESPONSIVE
 ---------------------*/

@media only screen and (max-width : 1024px) {


}