  
/*----------------------
GENERAL
 ---------------------*/

a {
    text-decoration: none;
    color: #08C;
    transition: all 0.3s ease-out;
    position: relative;

}

a:focus {
    outline: none;
    text-decoration: none;
}
 
a:hover { color: #0AF; text-decoration: none; }

body {
    background: #f6f8f9;
    color: #56565a;
    font-size: 14px;
    font-family: 'Lato';
    line-height: 25px;
    font-weight: 300;
    overflow-x: hidden; 
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Lato';    
}

h1 {
    font-size: 44px;
    letter-spacing: 100;
    line-height: 47px;
}

h2.bluetext {
    margin-top: 0;
}

nav {
    float: right;    
    width: 723px;
}

nav ul {
    padding-left: 0;
}

nav ul li {
    display: inline-block;
    float: right;
}

nav ul li a {
    color: #555559;
    font-size: 11px;
    max-height:  54px;
    padding-top: 41px;
    margin-top: 2px;
    border-top: 3px solid #f6f8f9;    
    display: inline-block;
}

nav ul li a:hover {
    border-top: 3px solid #555559;
    max-height:  54px;
    color: #555559;    

}

/*----------------------
CLASSES
 ---------------------*/

 .analista-texto {
    margin: 63px 0 0 0;
    margin-right: 32px;
    width: 371px;
    float: right;
   
 }

 .analista-texto > p {
    font-size: 14px;
    letter-spacing: 0.1em;
 }

.analista-texto > p span {
    font-size: 18px;
    color: #0093c9;
    font-weight: 400;
    letter-spacing: 0.1em;    
    text-transform: uppercase;
}

.analitico {
    width: 98%;
    background: #0094ca;
    border-radius: 20px;    
    -moz-animation: analitico 2s ease-out;
    -webkit-animation: analitico 2s ease-out;    
}

.asertivo {
    width: 97%;
    background: #24b1d8;
    border-radius: 20px;
    -moz-animation: asertivo 2s ease-out;
    -webkit-animation: asertivo 2s ease-out;    
}

.big {
    font-size: 20px;
}

.bloque {
    margin-top: 61px;
}

.bloque-blanco-1,
.bloque-blanco-2 {
    background: url(img/cubo.png) center top no-repeat;
    width: 597px;
    height: 643px;
}

.bloque-blanco-1 {
    position: relative;
    right: -50px;
    top: -90px;
    text-align: center;
    z-index: 11;
    float: right;
}

.bloque-blanco-1 h2 {
    font-size: 45px;
    color: #0093c9;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0;
}

.bloque-blanco-1 h2 span {
    font-weight: 400;
}

.bloque-blanco-1 > p {
    font-size: 18px;
    margin: 18px 0 14px;
    letter-spacing: 0.06em;
}

.bloque-blanco-2 {
    position: relative;
    top: 465px;
    left: 315px;
    text-align: center;
    z-index: 10;
}

.bloque-blanco-2 figure {
    position: absolute;
    top: 104px;
    left: 74px;
}

.bloque-blanco-2 > p {
    position: absolute;
    top: 84px;
    left: 140px;
    letter-spacing: 0.1em;
    font-size: 18px;    
}

.bloque-blanco-2 > p span {
    text-transform: uppercase;
    font-weight: 400;
}

.bluetext {
    font-size: 51px;
    color: #0093c9;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: normal;
}

.blueline {
    position: absolute;
    top: 124px;
    right: -52px;
}

.call-to-action {
    background: #0093c9;
}

.call-to-action  a {
    color: #fff;
}

.call-to-action h2 {
    margin: 0;
    color: #fff;
    font-size: 55px;
    text-transform: uppercase;
    padding: 151px 0;
    font-weight: 300;
    letter-spacing: 0.1em;
}

.carousel {
    min-width: 1024px;
    max-width: 1200px;
    margin: 0 auto;
}

.carousel-control {
    width: 0;
}

.carousel-control.left,
.carousel-control.right {
    background: none;
}

.carousel-control.left {
    margin-left: 1%;
}

.carousel-control.right {
    margin-right: 1%;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
 
.clearfix:after {
    clear: both;
}
 
/* IE6/7 support */
.clearfix {
    *zoom: 1;
}

.clientes {
    padding-top: 176px;
}

.clientes-cubos {
    background: url(img/clientes-bg.png) center top no-repeat;
    height: 865px;
    margin: 218px auto 0;
}

.clientes-logos {
    width: 1172px;
    margin: 0 auto;
}

.clientes-1 {
    background: url(img/cliente-logo-1.png) 50px center no-repeat;
    width: 293px;
    height: 395px;
    position: relative;
    top: -13px;
    left: 144px;
    float: left;
}

.clientes-1:hover {
    background: url(img/cliente-logo-1-hover.png) left center no-repeat;
}

.clientes-2 {
    background: url(img/cliente-logo-2.png) center center no-repeat;
    width: 293px;
    height: 395px;
    position: relative;
    top: -13px;
    left: 144px;
    float: left;
}

.clientes-2:hover {
    background: url(img/cliente-logo-2-hover.png) left center no-repeat;
}

.clientes-3 {
    background: url(img/cliente-logo-3.png) center center no-repeat;
    width: 293px;
    height: 395px;
    position: relative;
    top: -13px;
    left: 144px;
    float: left;
}

.clientes-3:hover {
    background: url(img/cliente-logo-3-hover.png) left center no-repeat;
}

.clientes-4 {
    background: url(img/cliente-logo-4.png) center center no-repeat;
    width: 293px;
    height: 395px;
    position: relative;
    top: -154px;
    left: -3px;
    float: left;
    clear: left;
}

.clientes-4:hover {
    background: url(img/cliente-logo-4-hover.png) left center no-repeat;
}

.clientes-5 {
    background: url(img/cliente-logo-5.png) center center no-repeat;
    width: 293px;
    height: 395px;
    position: relative;
    top: -154px;
    left: -3px;
    float: left;
}

.clientes-5:hover {
    background: url(img/cliente-logo-5-hover.png) left center no-repeat;
}

.clientes-6 {
    background: url(img/cliente-logo-6.png) center center no-repeat;
    width: 293px;
    height: 395px;
    position: relative;
    top: -154px;
    left: -3px;
    float: left;
}

.clientes-6:hover {
    background: url(img/cliente-logo-6-hover.png) left center no-repeat;
}

.clientes-7 {
    background: url(img/cliente-logo-7.png) center center no-repeat;
    width: 293px;
    height: 395px;
    position: relative;
    top: -154px;
    left: -3px;
    float: left;
}

.clientes-7:hover {
    background: url(img/cliente-logo-7-hover.png) left center no-repeat;
}

.confiable {
    width: 99%;
    background: #0094ca;
    border-radius: 20px;    
    -moz-animation: confiable 2s ease-out;
    -webkit-animation: confiable 2s ease-out;    
}

.conoceme {
    padding: 0 !important;
    display: none; /*Quitar para ver seccion de conoceme*/
}

.conoceme h2 {
    margin-bottom: 74px;
}

.conoceme-pic {    
    height: 400px;
    position: relative;
    margin: 50px auto 0;
    clear: both;
    max-width: 1402px;
    left: 0;
    display: none;
}

.contacto {
    padding-top: 195px;
}

.contacto-datos {
    float: left;
    width: 416px;
    margin: 120px 0 86px 0 ;
}

.contacto-icono {
    float: left;
    position: relative;
    margin: 0 12px 0 0;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;    
}

.contacto-icono2 {
    margin: 119px 0 0 57px;
    float: left;
    position: relative;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.contacto-icono:hover,
.contacto-icono2:hover {
    top: -30px;
}

.contacto-texto {
    color: #555559;
    font-size: 27px;
    letter-spacing: -0.025em;
    line-height: 126px;
    font-weight: 300;
}

.content-wrapper {
	max-width: 1200px;
    min-width: 1200px;
	padding: 0 1em;
	margin: 0 auto;
    position: relative;   
}

.creativo {
    width: 94%;
    background: #07a5d2;
    border-radius: 20px;    
    -moz-animation: creativo 2s ease-out;
    -webkit-animation: creativo 2s ease-out;    
}

.cross {
    text-decoration: line-through;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
}

.cursos {
    padding: 196px 0 88px 0;
    position: relative;
}

.cursos h2 {
    color: #0093c9;
    font-size: 47px;
    font-weight: 300;
    letter-spacing: 0.09em;
    text-transform: uppercase;    
}

.cursos-bloques {
    margin: 63px 3px 91px 0;
    float: left;
}

.cursos-content {
    margin: 106px auto 0;
    width: 955px;
    text-align: center;
}

.cursos-cubos-1 {
    position: absolute;
    right: 0;
    bottom: -60px;
}

.cursos-cubos-2 {
    position: absolute;
    left: 0;
    bottom: 100px;
}

.cursos-icono {
    float: left;
    margin-right: 20px;
    padding: 30px 0 0 0;
}

.cursos-text {
    float: left;
    width: 478px;
    border-bottom: 1px solid #0093c9;
    padding: 0 0 50px 0;
}

.cursos-text a {
    margin: 48px 0 0 0;
    display: block;
    font-weight: 700;
    font-style: italic;
}

.cursos-text h2 {
    color: #0093c9;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.cursos-text p {
    width: 361px;
}

.cursos-text-blue {
    color: #0093c9;
    font-weight: 700;
    margin: 0;
}

.empresas {
    background: url(img/empresas-bg.jpg) center -100px no-repeat fixed;
    height: 809px;
    padding: 90px 0 0 0;
}


.empresas-bloque {
    float: left;
    width: 274px;
    margin: 107px 124px 0 0;
}

.empresas-bloque h3 {
    font-size: 35px;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 20px;
    width: 133px;
}

.empresas-bloque figure {
    margin: 73px 0 0 0;
}

.empresas-content > .empresas-bloque:last-child {
    margin-right: 0;
}

.empresas-content h2 {
    color: #fff;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 55px;
    font-weight: 300;
}

.empresas-title {
    border-bottom: 1px solid #fff;
}

.empresas-title h3 {
    line-height: 40px;
    letter-spacing: 0.1em;
    font-size: 35px;
}

.exigente {
    width: 98%;
    background: #07a5d2;
    border-radius: 20px;    
    -moz-animation: exigente 2s ease-out;
    -webkit-animation: exigente 2s ease-out;    
}

.expand {
    height: 29px;
    position: absolute;
}

.evitar-conseguir {
    position: relative;
}

.gustos {
    background: url(img/gustos-bg.png) center top no-repeat;
    padding: 200px 0 116px 0;
}

.gustos-featured {
    width: 713px;
    float: left;
    margin-top: 16px;

}

.gustos-normal {
    float: left;
    width: 227px;
    margin-left: 16px;
    margin-top: 16px;
}

.gustos-post {
    width: 1200px;
    margin-top: 114px;
}

.gustos-post div:nth-child(4){
    margin-left: 0;
}

.gustos-post-content {
    background: #fff;
    position: relative;
    padding: 72px 25px 25px;
}

.gustos-post-content-normal {
    background: #fff;
    position: relative;
    max-height: 213px;
    height: 213px;
    min-height: 213px;    
    padding: 69px 25px 10px;    
}

.gustos-post-content h3,
.gustos-post-content-normal h3{
    color: #0093c9;
    font-size: 22px;
    letter-spacing: 0.03em;
    margin: 0 0 28px;
    line-height: 25px;
}

.gustos-post-tag {
    position: absolute;
    left: 25px;
    top: -50px;
}

.list-content {
    border-radius: 20px;
    border: 2px solid #0093c9;
    padding: 40px;
    float: right;
    margin: 0 3px 0 0;
    width: 662px;
    background: #fff;
    z-index: 1;
}


.list-content-iconos {
    float: left;
    padding-top: 48px;
}

.list-content-iconos-2 {
    padding: 0;
    float: left;
    margin-top: -20px;
}

.list-content-text {
    float: left;
    margin-left: 33px;
}

.list-content-text ul {
    padding: 0;
}

.list-content-text ul li {
    list-style: none;
    background: url(img/equis-gris.png) left no-repeat;
    vertical-align: middle;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 18px;
    padding: 3px 0 0 35px;
    line-height: 28px;
}

.list-content-text ul li p {
    position: relative;
    top: -4px;
}

.list-content-text ul li span{
    text-transform: none;
    font-size: 14px;
}

.list-2 {
    width: 415px;  
}

.list-2 > li {
     background: url(img/check-grey.png) left no-repeat !important;    
}

.graficas-2 {
    background: url(img/graficas-info-2.png) center top no-repeat;
    width: 1054px;
    height: 337px;
    margin: 119px 0 0 121px;
}

.hide {
    display: none;
}

.hola-content {
    height: 580px !important;
}

.hola-text {
    width: 584px;
    z-index: 9;
    position: absolute;
    right: 0;
    top: 174px;
}

.hola-text h2,
.conoceme h2 {
    color: #0093c9;
    font-size: 55px;
    letter-spacing: 0.05em;
    font-weight: 300;
}

.hola-text h3 {
    font-size: 34px;
    font-weight: 300;    
    color: #56565a;
    letter-spacing: 0.1em    
}

.hola-text p {
    letter-spacing: 0.025em;
}


.ilustracion-alcancia {
    position: absolute;
    right: 253px;
    top: 175px;
}

.ilustracion-bubble-1 {
    position: absolute;
    top: 0;
    left: 393px;
}

.ilustracion-bubble-2 {
    position: absolute;
    right: 0;
    top: 280px
}

.ilustracion-bubble-3 {
    position: absolute;
    top: 280px;
    left: 0;
}

.ilustracion-bubble-4 {
    position: absolute;
    bottom: 0;
    left: 393px;
}

.ilustracion-calculadora {
    position: absolute;
    left: 251px;
    top: 176px;
}

.ilustracion-calendario {
    right: 252px;
    bottom: 198px;
    position: absolute;
}

.ilustracion-ceo-2 {
    position: absolute;
    top: 310px;
    left: 341px;
}

.ilustracion-chart-2 {
    position: absolute;
    bottom: 187px;
    left: 240px;
}

.ilustracion-ventas-2 {
    position: absolute;
    right: 334px;
    top: 309px;
}



.ilustracion-infografia {
    width: 1067px;
    height: 871px;
    margin: 170px auto 0;
    position: relative;
}

.imagenes {
    width: 461px;
    float: left;
    position: relative;
    z-index: 1000;
}

.infografia {
    position: relative;
    height: 1497px;
}

.infografia > .content-wrapper {
    height: 1046px;
}

.infografia-texto {
    background: #555559;
    padding: 100px 20px 0;
    text-align: center;
    height: 452px;
}

.infografia-texto h2,
.infografia-2-texto h2 {
    color: #fff;
    font-size: 47px;
    font-weight: 300;
    letter-spacing: 0.09em;
    text-transform: uppercase;
}

.infografia-texto h2 span,
.infografia-2-texto h2 span {
    font-weight: 400;
}


.infografia-texto p {
    color: #fff;
    line-height: 25px;
    letter-spacing: 0.025em;
    width: 1209px;
    margin: 64px auto;
    text-align: left;
}

.infografia-2 {
    background: url(img/fondo-info.jpg) center top no-repeat;
    padding-top: 94px;    
    height: 1700px;
}

.infografia-2-texto {
    text-align: center;
}

.infografia-2-texto h2 {
    letter-spacing: 0.05em;
    font-size: 40px;
}

.intro {
    height: 765px;
}

.left {
    float: left;
}

.logo {
    display: inline-block;
    padding-top: 34px;    
}

.logo-2,
.logo-3 {
    position: absolute;
    left: 75px;
    top: 36px;
}

.main-big {
    font-size: 29px;
    font-weight: bold;
}

.main-statement {
    width: 379px;
    color: #555559;
    text-align: center;
    line-height: 48px;
    font-weight: 300;
    letter-spacing: .1em;
    margin: 250px auto 67px;
    display: block;
    text-transform: uppercase;
    font-size: 25px;
}

.more-link {
    float: right;
    font-weight: bold;
    font-style: italic;
    display: block;
    text-transform: uppercase;
    color: #0093c9;
    margin-top: 135px;
}


.nav-bar {
    background: #f6f8f9;
    padding-bottom: 30px;  
    position: fixed;  
    width: 100%;
    z-index: 2000;
}

.perfeccionista {
    width: 93%;
    background: #2fb4db;
    border-radius: 20px;    
    -moz-animation: perfeccionista 2s ease-out;
    -webkit-animation: perfeccionista 2s ease-out;    
}

.quote {
    position: absolute;
    left: 45px;
    letter-spacing: 0.2em;
}

.quote-line3 {
    margin-left: -5px;
}

.quote-line4 {
    font-weight: 400;
    margin-left: 15px;
}

.quote-symbol {
    margin-right: 10px;
}

.quote-symbol-3 img,
.quote-symbol-4 img {
    vertical-align: top;
}

.quote-2 {
    font-size: 20px;
    letter-spacing: 0.3em;
    float: right;
    margin: 53px 115px 0 0;
}

.quote-2-line-1 {
    margin-bottom: 23px;
}

.quite-2-line-3 {
    margin-top: 23px;
}
.right {
    float: right;
}

.right-arrow {
    background: url(img/right-arrow.png) right center no-repeat;
    width: 50px;
    height: 27px;
    display: inline-block;
}

.servicios {
    position: relative;
    height: 704px;    
    background: #F6F8F9;
}
 
.show {
    display: block;
}

.skills-content {
    width: 1200px;
    margin: 0 auto;
    padding-left: 65px;
}

.skills {
    width: 483px;
    margin-right: 5%;
    list-style: none;    
    position: relative;
    padding: 0;
    float: left;
}

.skills li {
    margin-bottom: 35px;
    height: 29px;
    border-radius: 20px;
    position: relative;
    background: #d3d3d3;
}

.skills li em {
    position: relative;
    color: #fff;
    z-index: 1;
    left: 23px;
    top: 2px;
    font-style: normal;
    font-size: 23px;
    letter-spacing: 0.125em
}

.skill-text {
    width: 570px;
    margin-top: 80px;
    float: right;
}

.skill-text p {
    margin: 0 0 21px;
}

.small-text {
    font-size: 7px;
    vertical-align: super;
}

.sticker {
    border-radius: 10px;
    border: 2px solid #555559;
    background: #fff;
    padding: 18px 4px 12px 15px;
    width: 382px;
    position: absolute;
    bottom: 105px;
    left: 100px;
    text-align: left;
}

.sticker-text {
    padding-left: 34px;
    letter-spacing: 0.1em;
    background: url(img/equis.png) left center no-repeat;
    line-height: 28px;
}

.sticker-text > span,
.sticker-text-2 > span {
    font-size: 18px;
    font-weight: 400;
}

.sticker-text-2 {
    padding-left: 34px;
    letter-spacing: 0.1em;
    background: url(img/char-small.png) left center no-repeat;
    line-height: 28px;    
}

.testimonials {
    background: #555559;
    clear: both;
    overflow: hidden;
}

.titulo-azul {
    color: #0093c9;
    font-size: 47px;
    font-weight: 300;
    letter-spacing: 0.09em;
    text-transform: uppercase;  
}

.title-white {
    color: #fff;
    font-size: 47px;
    font-weight: 300;
    letter-spacing: 0.09em;
    text-transform: uppercase;     
}

.triangle {
    position: relative;
    bottom: -91px;
}

.visual {
    width: 99%;
    background: #24b1d8;
    border-radius: 20px;    
    -moz-animation: perfeccionista 2s ease-out;
    -webkit-animation: perfeccionista 2s ease-out;    
}


/*----------------------
 ID's
 ---------------------*/

#analista {
    position: absolute;
    left: 0;
    top: 120px;
}

#analista-2 {
    margin: 36px 26px 0 61px;
    float: left;
}

#arrow-down {
    text-align: center;
    display: block;
    margin: 0 auto;
    position: relative;
    top: -30px;
}

#arrow-1 {
    float: left;
    margin: 19px 13px 0 88px;
}

#arrow-2 {
    float: right;
    margin: 14px 71px 0 5px;
}

#badir-conoceme {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -500px;
    z-index: 5;
}

#badir-pic {
    position: absolute;
    bottom: 0;
    left: -100px;
}

#ceo {
    left: 215px;
    top: 161px;
    position: absolute;
}

#cross {
    top: 69px;
    left: 70px;
}

#cross-2 {
    top: 106px;
    left: 72px;    
}

#cross-3 {
    top: 147px;
    left: 76px;    
}

#cross-4 {
    top: 62px;
    left: 160px;    
}

#cross-5 {
    top: 99px;
    left: 166px;    
}

#cross,
#cross-2,
#cross-3,
#cross-4,
#cross-5,
.graphic-line-1,
.graphic-line-2,
.graphic-line-3,
.graphic-bar,
.graphic-chart {
    position: absolute;
}

#cubos {
    position: absolute;
    left: 0;
    bottom: -200px;
    z-index: 100;
}

#graphic-bar {
    position: absolute;
    bottom: 0;
    left: 38px;
    z-index: 1;
}

#graphic-bar-2{
    position: relative;
    right: 10px;
    bottom: 0;
    float: right;
}

#graphic-chart {
    position: absolute;
    right: 0;
    bottom: 211px;
}

#graphic-line-1 {
    position: absolute;
    left: -91px;
    bottom: 486px;
}

#graphic-line-2 {
    position: absolute;
    left: 157px;
    bottom: 186px;
    z-index: 2;
}

#graphic-line-3 {
    position: absolute;
    right: 0;
    bottom: 151px;
}

#exclamacion {
    position: absolute;
    top: 146px;
    left: 62px;
}

#line-2 {
    position: absolute;
    left: 69px;
    bottom: 14px;
}

#lines {
    position: absolute;
    left: 286px;
    top: 138px;
    z-index: 30;
}

#mensajes {
    position: absolute;
    left: 266px;
    top: 56px;
}

#nav-inicio {
    margin-right: 28.5px;
    text-align: left;
    width: 73px;
    letter-spacing: .3em;    
}

#nav-servicios {
    text-align: center;
    width: 175.5px;
    margin-right: 28.5px;
    letter-spacing: .3em;
}

#nav-clientes {
    text-align: center;
    width: 73px;
    margin-right: 28.5px;
    letter-spacing: .3em;
}

#nav-contacto {
    text-align: center;
    width: 174.5px;
    margin-right: 28.5px;
    letter-spacing: .3em;
}

#nav-extras {
    text-align: center;
    width: 73px;
    letter-spacing: .3em;
}

#notebook {
    display: inline-block;
    margin: -102px 101px 0 137px;   
    position: relative;
}

#question {
    margin-top: 31px;
}

#ventas {
    left: 406px;
    position: absolute;
    top: 122px;
    z-index: 40;
}
/*----------------------
scroll styles
 ---------------------*/
nav ul li a.dark {
    color: #f6f8f9;
    font-size: 11px;
    max-height:  54px;
    padding-top: 41px;
    margin-top: 2px;
    border-top: 3px solid #56565B;    
    display: inline-block;
}

nav ul li a.dark:hover {
    border-top: 3px solid #f6f8f9;
    max-height:  54px;
    color: #f6f8f9;    

}
nav ul li a.blue {
    color: #f6f8f9;
    font-size: 11px;
    max-height:  54px;
    padding-top: 41px;
    margin-top: 2px;
    border-top: 3px solid #0093C9;    
    display: inline-block;
}

nav ul li a.blue:hover {
    border-top: 3px solid #f6f8f9;
    max-height:  54px;
    color: #f6f8f9;    

}

/*----------------------
RESPONSIVE
 ---------------------*/

@media only screen and (max-width : 1024px) {


}

/*----------------------
KEYFRAME
 ---------------------*/
@-webkit-keyframes perfeccionista {
    0% {
        width: 0px;
    }
    100% {
        width: 93%;
    }
}
 @-webkit-keyframes creativo {
    0% {
        width: 0px;
    }
    100% {
        width: 94%;
    }
}
@-webkit-keyframes exigente {
    0% {
        width: 0px;
    }
    100% {
        width: 98%;
    }
}
@-webkit-keyframes asertivo {
    0% {
        width: 0px;
    }
    100% {
        width: 97%;
    }
}
@-webkit-keyframes confiable {
    0% {
        width: 0px;
    }
    100% {
        width: 99%;
    }
}
@-webkit-keyframes visual {
    0% {
        width: 0px;
    }
    100% {
        width: 99%;
    }
}
@-webkit-keyframes analitico {
    0% {
        width: 0px;
    }
    100% {
        width: 98%;
    }
}



 @-moz-keyframes perfeccionista {
    0% {
        width: 0px;
    }
    100% {
        width: 93%;
    }
}
 @-moz-keyframes creativo {
    0% {
        width: 0px;
    }
    100% {
        width: 94%;
    }
}
@-moz-keyframes exigente {
    0% {
        width: 0px;
    }
    100% {
        width: 98%;
    }
}
@-moz-keyframes asertivo {
    0% {
        width: 0px;
    }
    100% {
        width: 97%;
    }
}
@-moz-keyframes confiable {
    0% {
        width: 0px;
    }
    100% {
        width: 99%;
    }
}
@-moz-keyframes visual {
    0% {
        width: 0px;
    }
    100% {
        width: 99%;
    }
}
@-moz-keyframes analitico {
    0% {
        width: 0px;
    }
    100% {
        width: 98%;
    }
} 